# Database
CONNECTION_STRING=Server=localhost;Port=2000;Database=TuBaseDeDatos;User=root;Password=TuContraseña;

# Services
CLIENT_SERVICE_URL=YourClientServiceUrl
PRODUCT_SERVICE_URL=YourProductServiceUrl
INVENTORY_SERVICE_URL=YourInventoryServiceUrl

# SendGrid
SENDGRID_API_KEY=YourSendGridApiKey
SENDER_EMAIL=YourSenderEmail
SENDER_NAME=YourSenderName

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest